h1{
	float: left;
	background-color: #4aaaa5;
	color: white;
	/*padding: 10px;*/
	margin-top: 1px;
	

	transform: translateY(-50%);
		margin-left: 10%;
}

.box-set{
	width: 100%;
	height: 70%;
	background-image:url(assets/images/cork-wallet.png);

	
}

body{
	background-color:white ;
	padding: 10px;
	padding-color: #ddd;

}

.aboutHead{
	position: relative; top: 45px;
	font-size: 30px;
	content: 50px;
	color: #4aaaa5;
	border-bottom: 2px solid;
	border-color: grey;
	background-color: white;


}

.pic{
position: relative; left: -225px;
background-color: white;
position: relative;top: 200px;
 z-index: 1; 


}


.paragraph{
	background-color: white;
width: 30%;
color: grey;
margin: 50px;
padding: 10px;
position: relative; left:90px;
clear: both;
}


.connect-main{
background-color: white;
border-bottom: 2px solid;
	border-color: grey;
	width: 35%;
	color:#4aaaa5;
	float: right;

}



img.resize {
  max-width:15%;
  max-height:15%;
  float: left;
}
img.resize2 {
  max-width:5%;
  max-height:5%;
  float: left;
}

.Links{
	float: right;
	
	width: 35%;
	clear: both;

}

.Three{
float:right;
color: grey;
position: 33%;

}

footer{
	margin-top: 10%;
	padding-top: 30px;
	text-align: center;
	background-color: grey;
	border-top: 4px solid;
	border-color: #4aaaa5;
	color:white;

}
